/* 
    Document   : external_ical.css
    Created on : Aug 24, 2011, 3:27:41 PM
    Author     : cwilliams
    Description:
        Purpose of the stylesheet follows.
*/


.caldav {
  background: #FFF;
}

.caldav .day-view tr {
  border-bottom: 1px dashed #CCC;
}

.caldav .day-view td {
  padding: 0 4px;
  margin: 0;
}